
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../Images/Emily\ Logo\ Orange.png");
  background-color: #FFFAF3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
/* not used */
.layout {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height:100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  font-size: 2vh;
  font-weight: 500;
}

.navigation {
  display: inline-block;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  margin: 0;
  display:flex;
  justify-content: flex-end;
}
li {
  display: block;
  float: right;
  padding-top: 20px;
}
li a {
  display: block;
  text-align: center;
  padding: 10px 8px;
  color: #303030;
  text-decoration: none;
}
li a:hover {
  color: #AAAEAE;
}
li a:visited {
  color: #AAAEAE;
  text-decoration: underline;
}
  .icons {
    display: flex;
    align-items: left;
  }
  .icons img {
    margin-left: 20%;
    width: 10vh;
    height: 10vh;
  }
  .heroGrid {
    text-align: center;
    margin: 15%;
  }
h1{
    font-size: 5em;
    font-weight: 900;
    justify-content: left;
}
h3 {
    font-size: 2em;
    font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: row;

  bottom: 0;
  height: 20px;
  width: 100%;
}

.copyright {
  display: flex;
  font-size: 0.75em;
  margin-left: 1%;
}

.socials {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.socials img {
  margin-left: 0.75%;
  width: 3vh;
  height: 3vh;
}

#profilePic {
  grid-area: profilePic;
  background-image: url(../Images/profile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;

}

#descriptionMe {
  grid-area: descriptionMe;
  font-size: 1.25em;
  margin: 0px 0px 0px 5%;

}

#heroImgGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas:
  "profilePic descriptionMe";
}

#skillsGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
  "skillsTitle descriptionSkills";
}

#skillsTitle {
  grid-area: skillsTitle;
}

#descriptionSkills {
  grid-area: descriptionSkills;
  align-items:center;
  font-size: 1.25em;
  margin: 0px 0px 0px 5%;
}

*{outline: 1px solid red;}

@media only screen and (max-width:640px) 
{#heroImgGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "profilePic" 
  "descriptionMe";
}

#skillsGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
  "skillsTitle descriptionSkills";
  margin-top: 60px;
}

#descriptionMe {
  font-size: 1em;
  margin: 0px 0px 0px 0px;
  
  height: 550px;
}


}

